.footer {
    position:fixed;
    left: 0;
    bottom: 100px;
    width: 100%;
    background-color: red;
    color: blue;
    text-align: center;
  }

.container {
    color: black
}

.nav-item {
  
  position: fixed;

}